
          <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-6">
          <img src="img/img3.jpg">
        
